<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Reply notification</title>
        <style>
            .container {
                height: 100vh;
                margin: 0 auto;
                background-color: #4f5ef1;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            .reset-password-message {
                text-align: center;
                font-size: 16px;
                padding: 25px 0;
            }
            .reset-password-message > p {
                color: rgba(0, 0, 0, 0.75);
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                margin: 0;
            }

            .reset-password-body {
                margin: 0 128px;
                padding: 32px;
                max-width: 100vw;
                background-color: #fff;
                border-radius: 10px;
                margin-bottom: 20px;
                box-shadow: 2px 2px 2px 2px rgba(206, 197, 197, 0.1);
            }
            .reset-password-body > h1 {
                color: #333;
                font-size: 25px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                text-align: center;
                padding: 0 !important;
                margin-top: 0 !important;
            }

            .reset-password-body > p {
                color: #333;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-align: left;
                margin-bottom: 16px;
            }
            .otp {
                margin: 20px 0;
            }
            .otp-background {
                padding: 16px;
                border-radius: 4px;
                background-color: #edf2f7;
                color: #718096;
            }
            .otp-background > p {
                margin-top: 0;
                font-size: 20px;
                color: #666;
                font-weight: 700;
                text-align: center;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            a {
                text-decoration: underline;
                color: #3869d4;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="reset-password-message">
                <p>Dev learning - Học lập trình để đi làm</p>
            </div>
            <div class="reset-password-body">
                <h1>Yêu cầu đặt lại mật khẩu</h1>
                <p>
                    Bạn nhận được email này vì chúng tôi đã nhận được yêu cầu
                    đặt lại mật khẩu cho tài khoản của bạn.
                </p>
                <div class="otp">
                    <div class="otp-background">
                        <p><%= resetCode%></p>
                    </div>
                </div>
                <p>
                    Đừng gửi mã này cho bất cứ ai, chúng tôi sẽ không bao giờ
                    liên hệ cho bạn để lấy mã này.
                </p>
                <p>
                    Nếu có bất cứ thắc mắc nào, hãy liên hệ cho chúng tôi qua
                    email
                    <a href="">buihaibq9702@gmail.com</a>
                    để được hỗ trợ.
                </p>
                <p>
                    Trân trọng,
                    <br />
                    Đội ngũ phát triển
                    <a href="">DevLearning.com</a>
                </p>
            </div>
        </div>
    </body>
</html>
